In [381]:
#import the library pandas
import pandas as pd

In [382]:
#import numpy
import numpy as np

In [383]:
S = [['him','sell'],[90,28,43]]

In [384]:
print (S[0][1][1])

e

In [385]:
my_tuppy = (1,2,5,8)

In [386]:
print (my_tuppy[2])

5

In [387]:
#Importing the dataset by reading the CSV file
food_balance_sheet = pd.read_csv ("C://Users/User/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')

In [388]:
print (food_balance_sheet)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [389]:
#Total sum of Animal Fat produced in 2014
food_balance_sheet2 = food_balance_sheet.groupby ('Item') ['Y2014'].sum()

In [390]:
print (food_balance_sheet2)

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [391]:
#Total sum of Animal Fat produced in 2017
food_balance_sheet3 = food_balance_sheet.groupby ('Item') ['Y2017'].sum()

In [392]:
print (food_balance_sheet3)

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [393]:
#Total number of missing data in 2016
food_balance_sheet4 = food_balance_sheet.isnull() ['Y2016'].sum()

In [394]:
print (food_balance_sheet4)

1535

In [395]:
#The year with the highest correlation with Element Code
food_balance_sheet5 = food_balance_sheet.groupby('Element Code').count()

In [396]:
print (food_balance_sheet5)

              Area Code  Area  Item Code  Item  Element  Unit  Y2014  Y2015  \
Element Code
511                  45    45         45    45       45    45     45     45
645                4905  4905       4905  4905     4905  4905   4860   4865
664                5014  5014       5014  5014     5014  5014   4947   4955
674                5023  5023       5023  5023     5023  5023   4963   4971
684                5023  5023       5023  5023     5023  5023   4965   4974
5072               4232  4232       4232  4232     4232  4232   4230   4229
5123               2009  2009       2009  2009     2009  2009   2009   2009
5131               2010  2010       2010  2010     2010  2010   1987   1995
5142               4941  4941       4941  4941     4941  4941   4896   4901
5154               1732  1732       1732  1732     1732  1732   1662   1667
5170               4655  4655       4655  4655     4655  4655   4604   4605
5171                555   555        555   555      555   555    555    555
5301               5295  5295       5295  5295     5295  5295   5244   5245
5511               3881  3881       3881  3881     3881  3881   3830   3828
5521               1319  1319       1319  1319     1319  1319   1216   1177
5527                762   762        762   762      762   762    762    759
5611               5139  5139       5139  5139     5139  5139   4919   4911
5911               4403  4403       4403  4403     4403  4403   3660   3704

              Y2016  Y2017  Y2018
Element Code
511              45     45     45
645            4874   4876   4877
664            4963   4965   4969
674            4978   4980   4986
684            4980   4982   4987
5072           4231   4231   4217
5123           2009   2009   2008
5131           1996   1998   2003
5142           4910   4912   4913
5154           1634   1619   1655
5170           4610   4618   4616
5171            555    555    555
5301           5250   5258   5256
5511           3838   3829   3846
5521           1215   1213   1225
5527            759    758    758
5611           4908   4929   4945
5911           3653   3660   3646

In [397]:
#Year with highest sum of Import Quantity
food_balance_sheet6 = food_balance_sheet.groupby('Element').sum()

In [374]:
print (food_balance_sheet6)
#Year with highest Import Quantity is 2017 with a value of 294559.09

                                        Area Code  Item Code  Element Code  \
Element
Domestic supply quantity                   708993   14197445      28068795
Export Quantity                            599910   11840553      26026133
Fat supply quantity (g/capita/day)         675050   13535000       3435732
Feed                                       176272    3538507       7282199
Food                                       663295   13285035      25406622
Food supply (kcal/capita/day)              674057   13511060       3329296
Food supply quantity (kg/capita/yr)        658446   13185401       3163725
Import Quantity                            688174   13795966      28834929
Losses                                     274353    5424803      10292107
Other uses (non-food)                      235554    4729749       8926728
Processing                                 271940    5350416      10313310
Production                                 526751   10450053      21388191
Protein supply quantity (g/capita/day)     675050   13535000       3385502
Residuals                                  623271   12421089      24066350
Seed                                       103537    2035933       4211574
Stock Variation                            571566   11329527      21464704
Total Population - Both sexes                6020     112545         22995
Tourist consumption                         50308    1486528       2869905

                                             Y2014       Y2015       Y2016  \
Element
Domestic supply quantity                1996716.35  2021493.55  2044842.70
Export Quantity                          150020.64   157614.47   151920.46
Fat supply quantity (g/capita/day)        10225.56    10235.74    10102.77
Feed                                     216927.89   225050.22   228958.65
Food                                    1212332.49  1232361.10  1247022.17
Food supply (kcal/capita/day)            454257.00   453383.00   451810.00
Food supply quantity (kg/capita/yr)       49650.63    49345.13    48985.28
Import Quantity                          274144.48   267018.46   286582.78
Losses                                   153223.00   155439.00   157787.00
Other uses (non-food)                     78718.13    66254.41    69563.68
Processing                               282923.00   287929.00   280631.00
Production                              1931287.75  1947019.39  1943537.15
Protein supply quantity (g/capita/day)    11836.46    11833.95    11779.69
Residuals                                 30149.00    30045.00    37224.00
Seed                                      21922.92    23976.82    23389.20
Stock Variation                           58749.83    34910.99    33140.12
Total Population - Both sexes           1031585.00  1058081.00  1085107.00
Tourist consumption                         416.00      349.00       89.00

                                             Y2017       Y2018
Element
Domestic supply quantity                2088198.10  2161192.10
Export Quantity                          182338.80   181594.80
Fat supply quantity (g/capita/day)        10253.84    10258.69
Feed                                     223705.68   233489.68
Food                                    1258888.28  1303841.28
Food supply (kcal/capita/day)            454681.00   455261.00
Food supply quantity (kg/capita/yr)       48690.04    49056.85
Import Quantity                          294559.09   287997.09
Losses                                   160614.00   163902.00
Other uses (non-food)                     91645.97    91300.97
Processing                               292836.00   308429.00
Production                              2030056.89  2075072.89
Protein supply quantity (g/capita/day)    11842.45    11833.56
Residuals                                 35500.00    34864.00
Seed                                      24870.14    25263.14
Stock Variation                           54316.91    20577.91
Total Population - Both sexes           1112641.00  1140605.00
Tourist consumption                          91.00       90.00

In [377]:
#Total number of the sum of Production in 2014
food_balance_sheet7 = food_balance_sheet.groupby('Element')['Y2014'].sum()

In [376]:
print (food_balance_sheet7)

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [379]:
#Element with the highest sum in 2018
food_balance_sheet8 = food_balance_sheet.groupby('Element')['Y2018'].sum()

In [380]:
print (food_balance_sheet8)
#From the data below, domestic supply quantity has the highest sum in 2018

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [437]:
#Total Import Quantity in Algeria in 2018
food_balance_sheet9 = food_balance_sheet.groupby(['Element','Area']) ['Y2018'].sum()

In [438]:
print (food_balance_sheet9)

Element                   Area
Domestic supply quantity  Algeria                  90023.42
                          Angola                   59590.22
                          Benin                    31447.90
                          Botswana                  3045.85
                          Burkina Faso             25705.16
                                                     ...
Tourist consumption       Cabo Verde                   7.00
                          Egypt                       23.00
                          Kenya                       17.00
                          Mauritius                   31.00
                          Sao Tome and Principe       12.00
Name: Y2018, Length: 803, dtype: float64

In [445]:
unique_countries =  food_balance_sheet.groupby('Area').count()

In [446]:
print(unique_countries)

                             Area Code  Item Code  Item  Element Code  \
Area
Algeria                           1313       1313  1313          1313
Angola                            1424       1424  1424          1424
Benin                             1285       1285  1285          1285
Botswana                          1378       1378  1378          1378
Burkina Faso                      1409       1409  1409          1409
Cabo Verde                        1260       1260  1260          1260
Cameroon                          1460       1460  1460          1460
Central African Republic          1344       1344  1344          1344
Chad                              1343       1343  1343          1343
Comoros                             45         45    45            45
Congo                             1413       1413  1413          1413
Côte d'Ivoire                     1467       1467  1467          1467
Djibouti                          1095       1095  1095          1095
Egypt                             1488       1488  1488          1488
Eswatini                          1284       1284  1284          1284
Ethiopia                          1447       1447  1447          1447
Ethiopia PDR                        39         39    39            39
Gabon                             1245       1245  1245          1245
Gambia                            1168       1168  1168          1168
Ghana                             1354       1354  1354          1354
Guinea                            1410       1410  1410          1410
Guinea-Bissau                     1128       1128  1128          1128
Kenya                             1560       1560  1560          1560
Lesotho                           1150       1150  1150          1150
Liberia                           1206       1206  1206          1206
Madagascar                        1439       1439  1439          1439
Malawi                            1447       1447  1447          1447
Mali                              1293       1293  1293          1293
Mauritania                        1195       1195  1195          1195
Mauritius                         1378       1378  1378          1378
Morocco                           1393       1393  1393          1393
Mozambique                        1427       1427  1427          1427
Namibia                           1283       1283  1283          1283
Niger                             1403       1403  1403          1403
Nigeria                           1474       1474  1474          1474
Rwanda                            1426       1426  1426          1426
Sao Tome and Principe             1177       1177  1177          1177
Senegal                           1462       1462  1462          1462
Seychelles                          68         68    68            68
Sierra Leone                      1242       1242  1242          1242
South Africa                      1399       1399  1399          1399
Sudan                             1316       1316  1316          1316
Sudan (former)                      53         53    53            53
Togo                              1294       1294  1294          1294
Tunisia                           1338       1338  1338          1338
Uganda                            1458       1458  1458          1458
United Republic of Tanzania       1419       1419  1419          1419
Zambia                            1451       1451  1451          1451
Zimbabwe                          1393       1393  1393          1393

                             Element  Unit  Y2014  Y2015  Y2016  Y2017  Y2018
Area
Algeria                         1313  1313   1261   1268   1274   1279   1298
Angola                          1424  1424   1378   1378   1388   1407   1396
Benin                           1285  1285   1250   1260   1257   1253   1252
Botswana                        1378  1378   1361   1369   1365   1368   1361
Burkina Faso                    1409  1409   1382   1372   1392   1383   1373
Cabo Verde                      1260  1260   1231   1229   1200   1193   1192
Cameroon                        1460  1460   1450   1443   1443   1441   1432
Central African Republic        1344  1344   1300   1296   1314   1262   1308
Chad                            1343  1343   1284   1303   1265   1281   1305
Comoros                           45    45     45     45     45     45     45
Congo                           1413  1413   1382   1377   1377   1395   1377
Côte d'Ivoire                   1467  1467   1444   1447   1455   1454   1455
Djibouti                        1095  1095   1052   1058   1054   1061   1040
Egypt                           1488  1488   1461   1473   1470   1458   1468
Eswatini                        1284  1284   1265   1240   1255   1251   1231
Ethiopia                        1447  1447   1424   1430   1410   1428   1425
Ethiopia PDR                      39    39     39     39     39     39     39
Gabon                           1245  1245   1200   1202   1198   1206   1192
Gambia                          1168  1168   1121   1115   1111   1116   1118
Ghana                           1354  1354   1337   1333   1330   1333   1337
Guinea                          1410  1410   1345   1349   1373   1383   1385
Guinea-Bissau                   1128  1128   1044   1040   1054   1076   1091
Kenya                           1560  1560   1544   1542   1540   1548   1548
Lesotho                         1150  1150   1130   1097   1116   1110   1094
Liberia                         1206  1206   1135   1134   1124   1135   1133
Madagascar                      1439  1439   1416   1429   1431   1425   1424
Malawi                          1447  1447   1416   1400   1394   1411   1410
Mali                            1293  1293   1252   1256   1250   1243   1260
Mauritania                      1195  1195   1106   1152   1119   1108   1170
Mauritius                       1378  1378   1355   1352   1344   1340   1342
Morocco                         1393  1393   1354   1381   1378   1369   1368
Mozambique                      1427  1427   1396   1394   1401   1406   1400
Namibia                         1283  1283   1274   1270   1266   1269   1256
Niger                           1403  1403   1357   1367   1355   1365   1368
Nigeria                         1474  1474   1470   1458   1460   1457   1456
Rwanda                          1426  1426   1400   1378   1400   1397   1403
Sao Tome and Principe           1177  1177   1108   1125   1140   1122   1109
Senegal                         1462  1462   1448   1449   1452   1452   1448
Seychelles                        68    68     68     68     68     68     68
Sierra Leone                    1242  1242   1177   1181   1188   1191   1197
South Africa                    1399  1399   1394   1395   1395   1395   1396
Sudan                           1316  1316   1277   1260   1271   1279   1268
Sudan (former)                    53    53     53     53     53     53     53
Togo                            1294  1294   1219   1226   1243   1234   1266
Tunisia                         1338  1338   1304   1318   1314   1314   1320
Uganda                          1458  1458   1446   1446   1446   1435   1445
United Republic of Tanzania     1419  1419   1401   1405   1403   1409   1408
Zambia                          1451  1451   1424   1420   1430   1425   1421
Zimbabwe                        1393  1393   1374   1373   1358   1365   1356

In [452]:
df.describe()

             Age  Overall
count   3.000000      3.0
mean   32.666667     93.0
std     2.516611      1.0
min    30.000000     92.0
25%    31.500000     92.5
50%    33.000000     93.0
75%    34.000000     93.5
max    35.000000     94.0

In [242]:
lst = [[35,'Portugal',94],[33,'Argentina',93],[30,'Brazil',92]]
col = ['Age', 'Nationality','Overall']

In [243]:
df= pd.DataFrame(lst,columns = col, index = [i for i in range(1,4)])

In [177]:
print (df)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [190]:
Marks = np.array([[94, 89, 63], 
         [93, 92, 48], 
         [92, 94, 56]])

In [197]:
print (Marks[1:,:2])

[[93 92]
 [92 94]]

In [198]:
my_tuppy = (1,2,5,8)

In [200]:
y = [(2,4),(7,8),(1,5,9)]

In [201]:
x = y[1][1]

In [202]:
print (x)

8